.form fieldset
{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 3px;
    margin: 0px;
    border: 1px solid lightgray;
}

.form fieldset legend
{
    color: #01536d;
}